.about-scroll{
    height: calc(100vh - 160px);
    overflow: hidden;
    overflow-y: auto;
    webkit-overflow-scrolling: touch;
    border-radius: 5px;
    max-width: 850px;
    margin: 0 auto;
    padding-right: 1px;
  }
.about__block{
    padding: 30px;
    color: #fff;
    text-align: center;
    background: rgba(255, 255, 255, 1.0);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1.0));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1.0));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1.0));
    border-radius: 5px;
}
.about__h1, .about__h2, .about__h3{
    width: 100%;
    font-weight: normal;
    color: #ddd;
}
.about__photo{
    display: inline-block;
    height: 200px;
    width: auto;
    margin-bottom: 10px;
    border-radius: 10%;
    border: 1px solid #ddd;
    overflow: hidden;
  }
.about__h1{
    font-size: 28px;
    margin-bottom: 15px;
}
.about__h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.about__h3{
    display: inline-block;
    font-size: 20px;
    margin: 15px 0 5px;
    width: auto;
    border-bottom: 1px solid #555;
}
.about__p{
    font-size: 16px;
    color: #aaa;
    margin: 0 auto;
}

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 612px) {
    .about-scroll{
        height: calc(100vh - 190px);
    }
}