.contacts-links__main{
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
.contacts-links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contacts-link{
  padding: 0 7px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  transition: .2s;
}
.contacts-link:hover{
  color: yellow;
}